imbalanced-learn
ipython
japanize-matplotlib
librosa
matplotlib
mecab-python3
moviepy
nltk
numpy
opencv-python
opencv-python-headless
pandas
pdfminer.six
plotly
python-docx
python-pptx
PyYAML
requests
scikit-learn
scipy
seaborn
SoundFile
toml
tqdm
wordcloud

